<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>revisao-css-layout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">revisao-css-layout</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>div 1</div>
  <div>div 2</div>
  <label>label 1</label>
  <label>label 2</label>
  <p>Paragrafo</p>
  <div class="centralizar"><div class="filho">filho</div></div>
  <div class="flutuacao">Lado Esquerdo</div>
  <div class="direita">Lado direito</div>
</ion-content>
