<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-img
  src="/assets/saude mental.jpg"
  alt="dois medicos montando um quebra-cabeça em formato de cabeça"
></ion-img>
<h2 class="texto1">Sua mente tambem importa</h2>
  <ion-text color="medium" class="texto2">
    A saúde mental é um estado de bem-estar emocional e psicológico, onde a pessoa é capaz de lidar com o estresse, manter relacionamentos saudáveis e tomar decisões.
  </ion-text>
  
</ion-content>