<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <div class="imagem">
  <ion-img
  src="/assets/mao.jpg"
  alt="Uma mao segurando um coração metade cerebro e metade coração"
></ion-img>
</div>
<h2 class="texto1">Qual a nossa vocacao</h2>
  <ion-text color="medium" class="texto2">
    A vocação é o chamado que recebemos para realizar uma missão ou um propósito na vida. É a nossa razão de ser, o que nos move e nos inspira a seguir em frente. A vocação pode estar relacionada a diversas áreas, como profissão, arte, espiritualidade, entre outras.
  </ion-text>
  
</ion-content>