<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>revisao-css</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">revisao-css</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 class="azul">Meu paragrafo</h1>
  <h2 class="vermelho">Meu segundo paragrafo</h2>
  <h3 id="terceiro">Meu terceiro paragrafo</h3>
  <p class="vermelho">Meu quarto paragrafo</p>
  <p class="azul">Meu quinto paragrafo</p>
</ion-content>
