/*p{
    color: rgb(255, 9 , 179);
}
div{
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    background-color: rgba(255, 9 , 179); // se colocar mais um 0 deixa transparente
}*/
.azul{
    color: blue;
}
.vermelho{
    color: red;
}
#terceiro{
    font-size: 30px;
    font-family:cursive;
}